.grid-map {
    display: grid;
    grid-template-columns: repeat(354,3px);
    grid-template-rows: repeat(145,3px);
    margin-top: 40px;
    border: 1px solid black;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.grid-cell:hover{
    background-color:red;
}