.key-grid {
    display: grid;
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 60px 60px 60px;
}

.keyboard-key {
    background: black;
    color: lime;
    border:lime 1px solid;
    text-align: center;
    font-size: 1.4rem;
}